* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #009e22;
    padding: 10px 20px;
    /* border-bottom-left-radius: 50px; */
    height: 80px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    scale: 250%;
}


body {
    background-size: cover;
}

.logo span {
    font-size: 35px;
    font-weight: bold;
    color: #00690098;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-small {
    background: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn-signin {
    background: #333;
    color: white;
}

.btn-signin:hover {
    background: #555;
}

.btn-signup {
    background: #4F7022;
    color: white;
}

.btn-signup:hover {
    background: #3b5617;
}